{% extends 'app/base.html' %}


{% block content %}

    <a href="{% url 'events' %}" class="fw-bold text-black-50 text-decoration-none mb-3"><- Back to events</a>



    <h2 class="mb-4 mt-3 ">Event detail - {{ event.title }}</h2>


    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <h5><a href="{% url 'event_detail' event.id %}"
                       class="text-decoration-none text-primary">{{ event.title }}</a></h5>
                <div class="d-flex justify-content-start">
                    <div class="me-2">
                        Start: <span class="badge bg-primary">{{ event.start_time }}</span>
                    </div>
                    <div class="ms-2">
                        End: <span class="badge bg-primary">{{ event.end_time }}</span>
                    </div>
                </div>
            </div>

            <div class="card-text">
                <p>
                    {{ event.description }}
                </p>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    {% if signed_up %}
                        <a href="{% url 'sign_off_event' event.id %}" class="btn btn-danger">Odhlásit se</a>
                    {% else %}
                        <a href="{% url 'sign_to_event' event.id %}" class="btn btn-success">Přihlásit se</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <h5>Participants</h5>
            </div>

            <div class="row card-text">
                <div class="col-lg-6 col-md-12">
                    <ul class="list-group">
                        {% for participant in event.participants.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ participant }}
                                {% if user == event.user and user != participant %}
                                    <a class="btn btn-danger" href="{% url 'remove_user_from_event' event.id participant.id %}">
                                        Remove
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>



{% endblock %}