{% extends 'app/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<h2 class="mb-4">Upcoming Events</h2>

<div class="card mb-4">
    <h5 class="card-header">Filter events</h5>
    <div class="card-body">
        <form method="get" class="mb-0">

            <div class="row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.title|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.location|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.start_time_after|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.end_time_before|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.all_day_select|as_crispy_field }}
                </div>
              </div>
        
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>

{% if events %}
    {% for event in events %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h5><a href="{% url 'event_detail' event.id %}" class="text-decoration-none text-primary">{{ event.title }}</a></h5>
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            Start: <span class="badge bg-primary">{{ event.start_time }}</span>
                        </div>
                        <div class="ms-2">
                            End: <span class="badge bg-primary">{{ event.end_time }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <p>{{ event.description }}</p>
                    <div>
                        <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Detail -></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No events found matching your criteria.</p>
{% endif %}

{% endblock %}
